.input-container-login{
    position: relative;
  margin-bottom: -20px;
  width: 300px;
  direction: rtl;
}

.input-container-login input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right; /* راست‌چین متن داخل input */
  outline: none;
}

.input-container-login label {
  position: absolute;
  right: 10px;
  top: 12px;
  background: white;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}


.input-container-login input:focus + label,
.input-container-login input:not(:placeholder-shown) + label {
  top: -8px;
  right: 5px;
  font-size: 12px;
  color: #333;
}

.eye-icon {
  position: absolute;
  left: 10px; /* چون راست‌چین، آیکون سمت چپ */
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
  font-size: 18px;
}