.input-container-register{
    position: relative;
  margin-bottom: 20px;
  width: 300px;
  direction: rtl;
}

.input-container-register input {
  width: 100%;
  padding: 12px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: right; /* راست‌چین متن داخل input */
  outline: none;
}

.input-container-register label {
  position: absolute;
  right: 10px;
  top: 12px;
  background: white;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}


.input-container-register input:focus + label,
.input-container-register input:not(:placeholder-shown) + label {
  top: -8px;
  right: 5px;
  font-size: 12px;
  color: #333;
}